h1,
p {
  font-family: Lato;
}

.progresbar {
  position: fixed;
  top: 1px;
  left: 0px;
  height: 10px;
  width: 0%;
  background: fuchsia;
  min-width: 20%;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.ventana {
  width: 350px;
  height: 350px;
  position: relative;
  overflow: scroll;
  border: solid 1px rosybrown;
  margin-bottom: 20px;
}

.ventana .progresbar {
  top: initial;
  background: forestgreen;
  padding: 20px;
}
