h1,
p {
  font-family: Lato;
}

.progresbar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 0%;
  background: fuchsia;
}

.ventana {
  width: 350px;
  height: 350px;
  position: relative;
  overflow: scroll;
  border: solid 1px rosybrown;
  margin-bottom: 20px;
}
